div.nav{
    width: 100%;
    padding: 0;
    overflow: visible;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid gray;
}

div.nav-item{
    margin: 20px;
    margin-left: 0;
    float: left;
    vertical-align: middle;
}

.right{
    font-family: 'Satisfy', cursive;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: 50px;
}

div.nav-item:first-child{
    margin: 20px;
    padding-left: 100px;
    position: relative;

}

div.nav-item a{
    color: #2b2129;
}

div.nav-item a:hover{
    color: #c2956e;
    text-decoration: none;
}


h1{
    height: 800px;
    padding-top: 360px;
    font-size: 80px;
    color: white;
    margin: 0;
}

h2{
    text-align: center;
}

.main-img{
    z-index: -2;
}
.main-black{
    background-color: black;
    z-index: -1;
    opacity: 0.5;
    height: 800px;
}
.fixed-img{
    position: fixed;
    top: 65px;
    width: 100%;
}

.cover{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}




/*
.black{
     background-color: black;
 }

.black img{
    opacity: 0.5;
    width: 100%;
}*/